.Logo {
    padding: 8px;
    height: 100%;
    box-sizing: border-box;
}
.Logo img{
    height: 100%;
}
@media (max-width: 600px){
    .Logo {
        margin-top: 5%;
    }
    .Logo img{
        height: 80%;
    }
}